/* Stili per la classe body */
.body {
  /* Font del testo */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Altezza e colore in caso di incopatibilità con il gradiente */
  height: 100%;
  background: #121212;

  /* Colore sfondo con utilizzo del gradiente */
  background: linear-gradient(135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a);
  background-size: 40px 40px;

  /* Animazione per muovere le bande di colore */
  animation: move 4s linear infinite;
}

/* Keyframe per stato iniziale e finale dell'animazione */
@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 40px;
  }
}

/* Stili per la classe container */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* Stili per la classe section */
.section {
  flex-grow: 1;
  text-align: center;
  position: relative;
  top: 25px;
  color: #D65200;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Stili per la classe form */
.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: auto;
  column-gap: 30px;
  max-width: 400px;
  padding: 60px;
  border-radius: 20px;
  background-color: #131313;
  color: #fff;
  border: 1px solid #333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Stili per la classe title */
.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #D65200;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #D65200;
}

/* Stili per la classe signin */
.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline #a13e00;
}

.signin a {
  color: #D65200;
}

/* Stili per la classe flex */
.flex {
  display: flex;
  width: 98%;
  gap: 25px;
}

/* Stili per la classe form e stili per la visualizzazione dei vari campi e per il bottone submit (se ci passiamo sopra o non, se ci clicchiamo ecc.) */
.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 95.8%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input+span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9 em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  top: 13px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #D65200;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #D65200;
}

.submit:hover {
  background-color: #a13e00;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.form label .input[type="date"]+span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 14px;
  cursor: text;
  transition: 0.3s ease;
}

input[type="date"] {
  width: 100%;
  padding: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
}

input[type="email"] {
  width: 100%;
  padding: 5px;
}

input[type="password"] {
  width: 100%;
  padding: 5px;
}

.select {
  width: 30%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input[type="sumbit"]:hover {
  background-color: #555;
}

.img {
  display: flex;
  margin: auto;
  width: 100%;
  transform: scale(2);
}

.gender-box {
  color: rgba(255, 255, 255, 0.5);
}

.gender-option {
  display: flex;
  padding: 5px;
  gap: 15px;
  color: rgba(255, 255, 255, 0.808);
  ;
  font-size: 14.25px;
}

.gender input {
  accent-color: #D65200;
}

.warning {
  position: fixed;
  z-index: 1001;
  margin-bottom: 200px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #FEF7D1;
  border: 1px solid #F7C752;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  transform: scale(1.3);
}

/* Stili per il popup di errore */
.warning__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.warning__icon path {
  fill: #F7C752;
}

.warning__title {
  font-weight: 500;
  font-size: 14px;
  color: #755118;
}

.warning__close {
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}

.warning__close path {
  fill: #755118;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.581);
  z-index: 1000; /* Assicura che l'overlay sia sopra al resto del contenuto */
  display: none; /* Inizialmente nascosto */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1001; /* Assicura che il popup sia sopra all'overlay */
}